/* コードブロックに言語名を表示 */
pre.code:before {
    content: attr(data-lang);
    display: inline-block;
    background: #ccc;
    color: #c70067;
    padding: 3px;
    position: absolute;
    margin-left: -20px;
    margin-top: -30px;
}

pre.code {
    padding-top: 30px !important;
    border:2px solid #ccc;
    background:#f8f8f8;
    position:relative;
}
